<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e6392b91-72ef-41a2-90d8-727903d80457/resourceGroups/SchoolSIMS/providers/Microsoft.Web/sites/SchoolSIMS-vini</ResourceId>
    <ResourceGroup>SchoolSIMS</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://schoolsims-vini.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>schoolsims-vini.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SchoolSIMS-vini</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SchoolSIMS-vini</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>